$lightblue: #5b8792;
$medblue: #3f6781;
$darkblue: #19374a;
$lighttan: #f0f3e6;
$medtan: #dde2ce;
$darktan: #b5b7ae;
$medbrown: #594c41;
$darkbrown: #271d1e;
$yellow: #f2d672;
$lightyellow: #FFFCE2;
$orange: #E38128;
$seriffont: 'Radley', serif;
$sanseriffont: 'Roboto', sans-serif;